%nav.navbar.navbar-dark.bg-primary.navbar-fixed-top
  .container
    = link_to 'SmartBill', root_path, class: 'navbar-brand'
    %button.navbar-toggler.hidden-sm-up.pull-right.collapsed{ 'data-target' => '#navcollapse1', 'data-toggle' => 'collapse', type: 'button' } &#9776;
    #navcollapse1.collapse.navbar-toggleable-xs
      %ul.nav.navbar-nav.pull-sm-right
        - if current_user
          %li.nav-item
            %span.navbar-btn
              = link_to payables_path, class: 'btn btn-success page-scroll' do
                = fa_icon 'file-text-o', text: 'Manage payables'
          %li.nav-item
            %span.navbar-btn
              = link_to plugins_path, class: 'btn btn-success page-scroll' do
                = fa_icon 'plug', text: 'Manage plugins'
          %li.nav-item
            %span.navbar-btn
              = link_to destroy_user_session_path, method: :delete, class: 'btn btn-danger page-scroll' do
                = fa_icon 'sign-out', text: 'Logout'
        - else
          %li.nav-item
            %span.navbar-btn
              = link_to new_user_registration_path, class: 'btn btn-success' do
                = fa_icon 'user-plus', text: 'Sign up'
          %li.nav-item
            %span.navbar-btn
              = link_to new_user_session_path, class: 'btn btn-success' do
                = fa_icon 'sign-in', text: 'Log in'
